* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nexa-Heavy";
    src: url(./fonts/Nexa-Heavy.ttf);
}

body {
    background-color: #3A445D;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}


ul {
    display: flex;
    align-items: center;
    list-style: none;
}



nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    color: #EDCBB1;
}

.Columns {
    display: flex;
    align-items: center;
    width: 500px;
    height: 850px;
    margin-right: 80px;
    min-height: 300px;
    flex-direction: column;
    background-color: #5E5768;
    border-radius: 15px;
    
}

p {
    font-family: 'Nexa-Heavy';
}
section {
    font-family: 'Nexa-Heavy';
    width: 300px;
}


::placeholder {
    font-family: 'Nexa-Heavy';
    color: #1b1b1b83;
}
#IdNomeTarefa {
    width: 280px;
    height: 50px;
    border: 1px solid;
    border-radius: 7px;
    background-color: #3a373fd0;
    margin: 10px;
    font-family: 'Nexa-Heavy';

}
#IdNomeTarefa:focus {
    outline: 0;
}
.BotaoAddTarefa{
    width: 250px;
    height: 30px;
    margin: 0px 0px 10px 10px;
    background-color: rgb(119, 119, 240);
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
    cursor: pointer;
}
.BotaoAddTarefa:hover {
    background-color: rgb(157, 157, 247) ;
}

.CardTarefa {
    display: flex;
    justify-content: space-between;
    width: 480px;
    height: 90px;
    background-color: #3A445D;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-bottom: 10px;
}

.ContainerEspacoEditar {
    display: flex;
    position: fixed;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    height: 400px;
    
}

textarea {
    width: 360px;
    height: 208px;
    resize: none;
    border-radius: 7px;
    background-color: #181b24;
    border-color: #0000009d;
    color: white;
    font-family: 'Nexa-Heavy';
    font-size: 20px;
}

.ContainerBtns {
    display: flex;
}

.SalvarNovoNome {
display: none;
font-family: 'Nexa-Heavy';
width: 130px;
height: 30px;
margin-top: 2px;
background-color: #3a5fbd;
border: 2px solid #000;
border-radius: 4px;
}

.SalvarNovoNome:hover {
    cursor: pointer;
    background-color: #4979f1;
}


.BotaoEditarTarefa {
    height: 40px;
    background-color: #3A445D;
    border: 2px solid #181b24;
    cursor: pointer;
 
}

.BotaoEditarTarefa:hover {
    background-color: #6374a0;
}


.TarefaFeito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 40px;
    border: 2px solid rgb(66, 69, 70);
    border-radius: 4px;
    text-decoration: line-through;
    color: rgb(42, 47, 48);
    background-color: cadetblue;

}

.ColumnHighlight {
    background-color: #5c6c92;
    border: 2px solid #2482ff;
}
